<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-footerinfo">
				<div class="container">
					<div class="row">
						<div class="tg-threecolumns">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="tg-column">
									<strong class="tg-logo">
										<a href="javascript:void(0);"><img src="assets/images/logo3.png" alt="image description"></a>
									</strong>
									<div class="tg-description">
										<p>With the evolution of technology and the business person don’t have a time so we have an idea to create a online tailor portal for men’s to customize the clothes and that’s save the time.
										</p>
									</div>
									<ul class="tg-contactinfo">
										<li>
											<i class="icon-phone-handset"></i>
											<span>+91-9537716563</span>
										</li>
										<li>
											<i class="icon-printer"></i>
											<span>+91 1234 5678 - 9</span>
										</li>
										<li>
											<i class="icon-heart-pulse"></i>
											<span><a href="mailto:support@domain.com">tailorhub2018@gmail.com</a></span>
										</li>
										<li>
											<i class="icon-pushpin"></i>
											<address>15,shreeji supar market,S.T road-Unjha</address>
										</li>
									</ul>
									<ul class="tg-socialicons">
										<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
										<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
										<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
										<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
										<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="tg-column">
									<div class="tg-widget tg-widgetusefulllinks">
										<div class="tg-widgettitle">
											<h3>Useful Links</h3>
										</div>
										<div class="tg-widgetcontent">
											<ul class="tg-usefulllinks tg-liststyledot">
												<li><a href="javascript:void(0);">Home page</a></li>
												<li><a href="javascript:void(0);">Pants page</a></li>
												<li><a href="javascript:void(0);">Shirts page</a></li>
												<li><a href="javascript:void(0);">How it Works page</a></li>
												<li><a href="javascript:void(0);">Admin panel page</a></li>
												<li><a href="javascript:void(0);">Contact page</a></li>
												<li><a href="javascript:void(0);">About us page</a></li>
												<li><a href="javascript:void(0);">Cart Detail</a></li>
											</ul>
										</div>
									</div>
									<div class="tg-widget tg-widgetbusinesshours">
										<div class="tg-widgettitle">
											<h3>Business Hours</h3>
										</div>
										<div class="tg-widgetcontent">
											<!-- <div class="tg-description">
												<p>Consectetur adipisicing elit sed doi eiusod empor incidint quistans aliquip commodo consequat.</p>
											</div> -->
											<ul class="tg-timinginfo">
												<li>
													<span>Monday - Friday: </span>
													<span>09:00am to 05:00pm</span>
												</li>
												<li>
													<span>Saturday: </span>
													<span>09:00am to 02:00pm</span>
												</li>
												<li>
													<span>Sunday: </span>
													<span>Closed</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="tg-column">
									<div class="tg-widget">
										<div class="tg-widgettitle">
											<h3>Signup Newsletter</h3>
										</div>
										<div class="tg-widgetcontent">
											<!-- <form class="tg-themeform tg-formsignupnewsletter"> -->
												<fieldset>
													<div class="form-group">
														<input type="text" class="form-control" name="firstname" placeholder="First Name">
													</div>
													<div class="form-group">
														<input type="text" class="form-control" name="lastname" placeholder="last Name">
													</div>
													<div class="form-group">
														<input type="email" class="form-control" name="email" placeholder="Enter Your Email Here*">
													</div>
													<div class="form-group">
														<button type="submit" class="tg-btn">signup</button>
													</div>
												</fieldset>
											<!-- </form> -->
											<div class="tg-noticearea">
												<span class="tg-noticeicon"><i class="icon-bullhorn"></i></span>
												<h4>We Don’t Scam!</h4>
												<p>It's our oldest business so scam is not possible</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-footerbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<span class="tg-copyright">2017 All Rights Reserved © Tailor Online</span>
							<nav class="tg-addnav">
								<ul>
									<li><a href="javascript:void(0);">Terms &amp; Conditions</a></li>
									<li><a href="javascript:void(0);">Privacy Policy</a></li>
									<li><a href="javascript:void(0);">How It Works</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
		*************************************-->